In [1]:
import pandas as pd 
import os 
from json import loads, dumps

In [2]:
# change working directory 
os.chdir('/Users/ntonthat/Library/Mobile Documents/iCloud~com~ifunography~HealthExport/Documents/2022/June/2022-06-24/')

In [25]:
d = pd.read_json('HealthAutoExport-2022-06-24.json', orient='index')

In [50]:
single_value = pd.json_normalize(d['metrics'])[0][0]

In [67]:
import numpy as np

In [69]:
len(pd.json_normalize(d['metrics']).columns)

94

In [77]:
pd.json_normalize(d['metrics'])

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
0,"{'name': 'active_energy', 'units': 'kJ', 'data...","{'data': [{'qty': 1, 'date': '2022-06-24 07:23...","{'data': [{'qty': 1, 'date': '2022-06-24 05:00...","{'units': 'min', 'data': [{'date': '2022-06-24...","{'units': 'degC', 'name': 'basal_body_temperat...",{'data': [{'date': '2022-06-24 00:10:00 +1000'...,"{'name': 'blood_alcohol_content', 'units': '%'...","{'data': [], 'units': 'mmol/L', 'name': 'blood...","{'units': '%', 'name': 'blood_oxygen_saturatio...","{'units': 'mmHg', 'name': 'blood_pressure', 'd...",...,"{'data': [], 'units': 'cm', 'name': 'waist_cir...","{'name': 'walking_running_distance', 'data': [...","{'units': '%', 'data': [{'qty': 0, 'date': '20...","{'units': '%', 'name': 'walking_double_support...",{'data': [{'date': '2022-06-24 00:04:00 +1000'...,"{'name': 'walking_speed', 'units': 'km/hr', 'd...","{'data': [{'qty': 61, 'date': '2022-06-24 06:1...","{'name': 'weight_body_mass', 'units': 'kg', 'd...","{'units': 'km', 'data': [], 'name': 'wheelchai...","{'units': 'mg', 'data': [], 'name': 'zinc'}"

In [81]:
single_value = pd.json_normalize(d['metrics'])[91][0]

In [82]:
single_value

{'name': 'weight_body_mass', 'units': 'kg', 'data': []}

In [83]:
single_data = pd.json_normalize(single_value)['data']

In [89]:
len(single_data)

1

In [90]:
if len(single_data) == 1: 
    0
else:
    pd.DataFrame.from_dict(single_data)['qty'].sum()

In [86]:
pd.DataFrame.from_dict(single_data)['qty'].sum()

KeyError: 'qty'

In [97]:
json_data

  units data                 name
0    km   []  wheelchair_distance

In [109]:
new = []

for v in json_data.values():
    temp = {**v}           # This is intended to keep all the other data that might be there
    ids = temp.pop('IDs')  # I have to focus on this to create the records
    temp['IDs'] = [dict(zip(ids, x)) for x in zip(*ids.values())]
    new.append(temp)

TypeError: 'numpy.ndarray' object is not callable

In [ ]:
import pandas as pd

# test data
data =\
{1: {'IDs': {'BookID': ['543533254353'],
             'SalesID': ['543267765345'],
             'StoreID': ['123445452543']},
     'Name': 'Thrilling Tales of Dragon Slayers'},
 2: {'IDs': {'BookID': ['543533254353', '4324232342'],
             'SalesID': ['543267765345', '4353543'],
             'StoreID': ['111111', '1121111']},
     'Name': 'boring Tales of Dragon Slayers'}}

# load the data using from_dict
df = pd.DataFrame.from_dict(data, orient='index').reset_index(drop=True)

# convert IDs to separate columns
df = df.join(pd.DataFrame(df.pop('IDs').values.tolist()))

# explode the list in each column
df = df.apply(pd.Series.explode).reset_index(drop=True)

# display(df)

In [121]:
type(d['metrics'])

pandas.core.series.Series

In [122]:
pd.json_normalize(d['metrics'],sep='_')

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
0,"{'name': 'active_energy', 'units': 'kJ', 'data...","{'data': [{'qty': 1, 'date': '2022-06-24 07:23...","{'data': [{'qty': 1, 'date': '2022-06-24 05:00...","{'units': 'min', 'data': [{'date': '2022-06-24...","{'units': 'degC', 'name': 'basal_body_temperat...",{'data': [{'date': '2022-06-24 00:10:00 +1000'...,"{'name': 'blood_alcohol_content', 'units': '%'...","{'data': [], 'units': 'mmol/L', 'name': 'blood...","{'units': '%', 'name': 'blood_oxygen_saturatio...","{'units': 'mmHg', 'name': 'blood_pressure', 'd...",...,"{'data': [], 'units': 'cm', 'name': 'waist_cir...","{'name': 'walking_running_distance', 'data': [...","{'units': '%', 'data': [{'qty': 0, 'date': '20...","{'units': '%', 'name': 'walking_double_support...",{'data': [{'date': '2022-06-24 00:04:00 +1000'...,"{'name': 'walking_speed', 'units': 'km/hr', 'd...","{'data': [{'qty': 61, 'date': '2022-06-24 06:1...","{'name': 'weight_body_mass', 'units': 'kg', 'd...","{'units': 'km', 'data': [], 'name': 'wheelchai...","{'units': 'mg', 'data': [], 'name': 'zinc'}"

In [105]:
metric_data = pd.json_normalize(d['metrics'])
metric_map = {}
json_data = pd.json_normalize(metric_data[92][0])
qty_data = pd.json_normalize(json_data['data'])
if len(qty_data) == 1: 
    agg_value = 0
else: 
    agg_value = pd.DataFrame.from_dict(qty_data)['qty'].sum()
# reset value to the aggregate value 
json_data['value'] = agg_value

<bound method DataFrame.to_records of   units data                 name  value
0    km   []  wheelchair_distance      0>

In [100]:
metric_map

{'0    wheelchair_distance\nName: name, dtype: object': 0}

In [62]:
def convert_to_df(json_data):
    metric_data = pd.json_normalize(d['metrics'])
    # create dictionary to map metric names to column names
    for i in len(metric_data):
        # for each metric - explode and flatten 
        json_data = pd.json_normalize(metric_data[i][0])
        qty_data = pd.json_normalize(json_data['data'])
        if len(qty_data) == 1: 
            value = 0
        else: 
            value = pd.DataFrame.from_dict(qty_data)['qty'].sum()
        metric_map[json_data['name']] = value
    return df

'active_energy'